fastapi==0.110.0
uvicorn==0.28.0
streamlit==1.32.0
langchain==0.1.13
langchain-community==0.0.29
langchain-openai==0.0.8
faiss-cpu==1.8.0
pypdf==4.1.0
rank_bm25==0.2.2
sentence-transformers==2.5.1
networkx==3.2.1
pydantic==2.6.4
pydantic-settings
python-dotenv==1.0.1
deepeval==0.20.28
langsmith==0.1.27
requests==2.31.0
python-multipart 
